
		<div class="kl-slideshow static-content__slideshow scontent__maps">
			<div class="th-google_map" id="overlay" style="height: 700px;">
				<iframe class="map" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.513341350598!2d-40.337602484574546!3d-20.320401286386307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83da4b6c4312d%3A0x23b96c7354dfaf24!2sPra%C3%A7a+Costa+Pereira%2C+52+-+1001+-+Centro%2C+Vit%C3%B3ria+-+ES!5e0!3m2!1spt-BR!2sbr!4v1496089560193" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    		</div>
		</div>

		<section class="hg_section ptop-80 pbottom-80">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<!-- Contact form -->
						<div class="contactForm">
							<form action="assets/php/auto_envio.php" method="post" class="contact_form row">
								<div class="cf_response"></div>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="Nome" class="form-control" placeholder="Nome" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">Nome</label>
								</p>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="Telefone" class="form-control" placeholder="Telefone" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">Telefone</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<input type="text" name="E-mail" class="form-control h5-email" placeholder="E-mail" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">E-mail</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<input type="text" name="Assunto" class="form-control" placeholder="Assunto" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">Assunto</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<textarea name="Mensagem" id="cf_message" class="form-control" cols="30" rows="10" placeholder="Mensagem" tabindex="4" required></textarea>
									<label class="control-label">Mensagem</label>
								</p>
								<p class="col-sm-12">
									<button class="btn btn-fullcolor" type="submit">Enviar</button>
									<input type="hidden" name="site" value="http://saude-consumidores.com.br">
                	<input type="hidden" name="email" value="contato@saude-consumidores.com.br">
								</p>	
							</form>
						</div>
					</div>

					<div class="col-md-3 col-sm-3">
						<div class="text_box">
							<h3 class="text_box-title text_box-title--style2">Contatos</h3>
							<p>Praça Costa Pereira, 52 - Sala: 1001 e 1002<br> Centro - Vitoria/ES <br> CEP: 29.010-080</p>
							<p>
								<a href="tel:+5527998504293"> (27) 99850-4293</a>
							</p>
							<p>
								<a href="mailto:contato@saude-consumidores.com.br">contato@saude-consumidores.com.br</a><br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
