
<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
	<div class="bgback">
	</div>

	<!-- Static content wrapper with default height (not fullscreen) -->
	<div class="kl-slideshow-inner static-content__wrapper static-content--height">
		<!-- Static content source background with animateme scroll efect -->
		<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
			<div class="kl-bg-source">
				<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
				</div>	
			</div>
			<div class="th-sparkles"></div>
			<!--/ Animated Sparkles -->
		</div>
		<!-- /.static-content__source -->

		<!-- Static content container -->
		<div class="static-content__inner container">
			<!-- Container safe padding default top 150px and animateme effect -->
			<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
				<div class="static-content textpop-style">
					<div class="textpop__texts">
						<span class="textpop__line1">DB Fit</span>
						<span class="textpop__line2">DB Fit</span>
						<span class="textpop__line3">DB Fit</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="kl-bottommask kl-bottommask--mask5">
		<svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
				<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
					<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
					<feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
					<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
					<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
					<feMerge>
						<feMergeNode in="SourceGraphic"></feMergeNode>
						<feMergeNode in="shadowMatrixInner1"></feMergeNode>
					</feMerge>
				</filter>
			</defs>
			<path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#f5f5f5" filter="url(#filter-mask5)"></path>
			<path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#f39200" class="bmask-customfill" filter="url(#filter-mask5)"></path>
		</svg>
	</div>
</div>

		<section class="hg_section ptop-50">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Title element with bottom line -->
						<div class="text-left tbk-symbol--line tbk-icon-pos--after-title clearfix">
							<!-- Title with custom font size, black color and semibold style -->
							<h2 class="fs-34 black fw-semibold">Serviços</h2>
							
							<!-- Title bottom symbol -->
							<div class="tbk__symbol ">
								<span></span>
							</div>
							<!--/ Title bottom symbol -->

							<!-- Sub-title with custom font size, light-gray color and thin style -->
							<h4 class="tbk__subtitle fs-30 light-gray fw-thin">Frase de efeito..............</h4>
						</div>
						<!--/ Title element with bottom line -->
					</div>
					<!--/ col-md-12 col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Title section with custom top padding -->

		<!-- Services boxes modern style - section -->
		<section class="hg_section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="services_box services_box--modern sb--hasicon">
							<div class="services_box__inner clearfix">
								<div class="services_box__icon">
									<div class="services_box__icon-inner">
										<span class="services_box__fonticon icon-noun_65754"></span>
									</div>
								</div>
								<div class="services_box__content">
									<h4 class="services_box__title">Aplicativo</h4>
									<div class="services_box__desc">
										<p>
											Resumo.......
										</p>
									</div>
									<div class="services_box__list-wrapper">
										<span class="services_box__list-bg"></span>
										<!-- List -->
										<ul class="services_box__list">
											<li><span class="services_box__list-text">1º função... </span></li>
											<li><span class="services_box__list-text">2º função...  </span></li>
											<li><span class="services_box__list-text">3º função...  </span></li>
											<li><span class="services_box__list-text">4º função...  </span></li>
											<li><span class="services_box__list-text">5º função...  </span></li>
											<li><span class="services_box__list-text">6º função... </span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services_box services_box--modern sb--hasicon">
							<div class="services_box__inner clearfix">
								<div class="services_box__icon">
									<div class="services_box__icon-inner">
										<span class="services_box__fonticon icon-noun_65754"></span>
									</div>
								</div>
								<div class="services_box__content">
									<h4 class="services_box__title">Alimentação</h4>
									<div class="services_box__desc">
										<p>
											Resumo.......
										</p>
									</div>
									<div class="services_box__list-wrapper">
										<span class="services_box__list-bg"></span>
										<!-- List -->
										<ul class="services_box__list">
											<li><span class="services_box__list-text">1º função... </span></li>
											<li><span class="services_box__list-text">2º função...  </span></li>
											<li><span class="services_box__list-text">3º função...  </span></li>
											<li><span class="services_box__list-text">4º função...  </span></li>
											<li><span class="services_box__list-text">5º função...  </span></li>
											<li><span class="services_box__list-text">6º função... </span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="services_box services_box--modern sb--hasicon">
							<div class="services_box__inner clearfix">
								<div class="services_box__icon">
									<div class="services_box__icon-inner">
										<span class="services_box__fonticon icon-noun_65754"></span>
									</div>
								</div>
								<div class="services_box__content">
									<h4 class="services_box__title">Acompanhamento</h4>
									<div class="services_box__desc">
										<p>
											Resumo.......
										</p>
									</div>
									<div class="services_box__list-wrapper">
										<span class="services_box__list-bg"></span>
										<!-- List -->
										<ul class="services_box__list">
											<li><span class="services_box__list-text">1º função... </span></li>
											<li><span class="services_box__list-text">2º função...  </span></li>
											<li><span class="services_box__list-text">3º função...  </span></li>
											<li><span class="services_box__list-text">4º função...  </span></li>
											<li><span class="services_box__list-text">5º função...  </span></li>
											<li><span class="services_box__list-text">6º função... </span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="hg_section pbottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<!-- Title element -->
						<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
							<!-- Title with custom font size, gray color and etrabold style -->
							<h3 class="tbk__title fs-36 gray fw-extrabold">Diferencial....</h3>

							<!-- Title bottom symbol -->
							<div class="tbk__symbol ">
								<span></span>
							</div>
							<!--/ Title bottom symbol -->
						</div>
						<!--/ Title element -->
					</div>
					<!--/ col-md-5 col-sm-5 -->

					<div class="col-md-7 col-sm-7">
						<!-- Text box element -->
						<div class="text_box">
							<p class="fs-14">
								Descrição..........
							</p>
						</div>
						<!--/ Text box element -->
					</div>
					<!--/ col-md-7 col-sm-7 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Title section with custom bottom padding-->

		<!-- Call out banner style 3 element - section with white background and custom top padding -->
		<section class="hg_section ptop-60 bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Call-out banner element - style 3 -->
						<div class="callout-banner clearfix">
							<div class="row">
								<div class="col-sm-10">
									<!-- Title -->
									<h3 class="m_title"><span class="fw-thin">frase de efeito... <span class="fw-semibold">destaque</span>, complemento....</span></h3>
									<!--/ Title -->

								</div>
								<!--/ col-sm-10 -->

								<div class="col-sm-2">
									<!-- Circle hover link style 3 -->
									<a href="#" class="circlehover with-symbol style3" data-size="" data-position="top-left" data-align="right" target="_blank">
										<!-- Text -->
										<span class="text">Tire suas 
											<span class="fw-normal">Dúvidas</span>
										</span>
										<!--/ Text -->

										<!-- Image/Icon -->
										<span class="symbol">
											<img src="assets/img/callout2.svg" alt="">
										</span>
										<!--/ Image/Icon -->

										<!-- Play icon - hidden default -->
										<div class="triangle">
											<span class="play-icon"></span>
										</div>
										<!--/ Play icon - hidden default -->
									</a>
									<!--/ Circle hover link style 3 -->
								</div>
								<!--/ col-sm-2 -->
							</div>
							<!--/ row -->
						</div>
						<!--/ Call-out banner element - style 3 -->
					</div>
					<!--/ col-md-12 col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Call out banner style 3 element - section with white background and custom top padding -->

