    <div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
			<div class="bgback"></div>
			<div class="kl-slideshow-inner static-content__wrapper static-content--height">
				<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
					<div class="kl-bg-source">
						<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
						</div>		
					</div>
					<div class="th-sparkles"></div>
				</div>
				<div class="static-content__inner container">
					<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
						<div class="static-content textpop-style">
							<div class="textpop__texts">
								<span class="textpop__line2">Divã</span>
							</div>
							<div class="col-sm-6">
								<ul class="breadcrumbs fixclear">
									<li><a href="/">Home</a></li>
									<li>Divã</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="col-sm-6">
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">ABRASCOPEI</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kl-bottommask kl-bottommask--mask4">
				<svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
							<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#fff"></path>
				</svg>
			</div>
		</div>
    
    <section class="hg_section ptop-50 bg-white">          
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div id="th-content-post">
							<div>
								<h1 class="page-title black">No Divão com a ABRASCOPEI</h1>
								<div class="itemView clearfix eBlog">
									<div class="itemBody">
										<a data-lightbox="image" href="assets/img/diva.jpg" class="hoverBorder pull-left" style="margin-right: 20px;margin-bottom:4px; max-width: 400px;">
											<span class="hoverBorderWrapper">
												<img src="assets/img/diva.jpg" alt="No Divã" title="No Divã" />
												<span class="theHoverBorder"></span>
											</span>
										</a>
										<p style="font-size: medium; text-align: justify;">
											Agora a sua voz será ouvida.<strong> O Divã da ABRASCOPEI</strong> é o espaço onde você, usuário e profissional do Sistema Único de Saúde (SUS) e também consumidor, podem relatar o seu problema em busca de ajuda.
										</p>
										<p style="font-size: medium; text-align: justify;">
										O Divã é um canal especializado de atendimento em que os associados da ABRASCOPEI  podem denunciar problemas relacionados a serviços públicos ou privados, e também dificuldade de acesso a atendimento, vagas e procedimentos médicos, falhas no atendimento, falta de materiais, equipamentos quebrados e outras situações que, infelizmente, contribuem para que a situação da saúde no Brasil esteja cada vez pior. 
										</p>
                    	<p style="font-size: medium; text-align: justify;">
                        A ABRASCOPEI está aqui para ajudar a reverter esse quadro e o Divã é o espaço onde você pode ficar à vontade para fazer o seu desabafo. <br/>Conte a sua história que nós ajudaremos você a encontrar uma solução. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</section>
  