	  <div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
			<div class="bgback">
			</div>
			<div class="kl-slideshow-inner static-content__wrapper static-content--height">
				<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
					<div class="kl-bg-source">
						<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
						</div>		
					</div>
					<div class="th-sparkles"></div>
				</div>
				<div class="static-content__inner container">
					<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
						<div class="static-content textpop-style">
							<div class="textpop__texts">
								<span class="textpop__line2">Benefícios</span>
							</div>
							<div class="col-sm-6">
								<ul class="breadcrumbs fixclear">
									<li><a href="/">Home</a></li>
									<li>Benefícios</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="col-sm-6">
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">ABRASCOPEI</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kl-bottommask kl-bottommask--mask4">
				<svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
							<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#fff"></path>
				</svg>
			</div>
		</div>
    <section class="hg_section bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="clearfix tbk--left tbk-symbol--line tbk-icon-pos--after-title ptop-35">
							<h2 class="tbk__title montserrat fs-34 black">Benefícios</h2>
							<div class="tbk__symbol ">
								<span></span>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="text_box">
							<p style="font-size: medium; text-align: justify;">Hoje nós sabemos que as dificuldades financeiras e a inclusão em cadastros negativos, não são apenas ações restritivas, como também exclusivos, marginalizando o devedor trazendo consequências terríveis para a vida do inadimplente.<br>
              O maior benefício do associado ABRASCPEI é a certeza de que ele não está só e excluído, e que tem possibilidade real de reestabelecer a sua dignidade e qualidade de vida.<br>
              Isso é possível graças os serviços oferecidos pela ABRASCOPEI aos seus associados, tais como:</p>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<section class="hg_section p-0">
			<div class="full_width">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<div class="media-container h-445">
							<div class="kl-bg-source">
								<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/beneficios/juridico.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover">
								</div>
								<div class="kl-bg-source__overlay" style="background:rgba(53,53,53,0.65); background: -moz-linear-gradient(left, rgba(53,53,53,0.65) 0%, rgba(53,53,53,0.3) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,53,53,0.65)), color-stop(100%,rgba(53,53,53,0.3))); background: -webkit-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -o-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -ms-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: linear-gradient(to right, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); ">
								</div>
							</div>
							<a class="media-container__link media-container__link--btn media-container__link--style-borderanim1 ">
								<i class="media-container__border-tt"></i>
								<i class="media-container__border-tl"></i>
								<span class="media-container__text">Apoio Jurídico</span>
								<i class="media-container__border-bb"></i>
								<i class="media-container__border-br"></i>
							</a>
						</div>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="row hg_col_eq_last p-top-6 p-left-6">
							<div class="col-md-12 col-sm-12">
								<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title" style="padding-bottom: 10px;">
									<h3 class="tbk__title">Apoio Jurídico</h3>
									<div class="tbk__symbol" style="margin-bottom: 10px;">
										<span></span>
									</div>
								</div>
								<div class="text_box">
									<p style="text-align: justify;">
										Nossa equipe, formada por profissionais especializados na área jurídica, atua diretamente na defesa dos direitos e deveres dos associados da ABRASCOPEI, auxiliando na disseminação de informações e orientações, para que não haja nenhum tipo de violação. Trabalhamos para que os associados sintam-se seguros e sejam protegidos pela lei.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="hg_section bg-white p-0">
			<div class="full_width">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<div class="row hg_col_eq_last p-top-6 p-left-6">
							<div class="col-md-12 col-sm-12">
								<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title" style="padding-bottom: 10px;">
									<h3 class="tbk__title">Apoio Psicológico</h3>
									<div class="tbk__symbol" style="margin-bottom: 10px;">
										<span></span>
									</div>
								</div>
								<div class="text_box">
									<p style="text-align: justify;">
										Nosso corpo de profissionais da área psicológica está preparado para prestar todo o apoio necessário aos associados que são vitimados tanto pela precariedade nos atendimentos do SUS, quanto aos que devido o endividamento sofrem com problemas seríssimos de serem contornados, que acabam influenciando diretamente na vida profissional, social e familiar. Nossos psicólogos estão à disposição para ajudá-los a enfrentar esse tipo de situação com mais tranquilidade, elevando a auto-estima e consequentemente a qualidade de vida dos associados.
									</p>
								</div>
							</div>
						</div>
					</div>
          <div class="col-md-5 col-sm-5">
						<div class="media-container h-445">
							<div class="kl-bg-source">
								<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/beneficios/psicologia.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover">
								</div>
								<div class="kl-bg-source__overlay" style="background:rgba(53,53,53,0.65); background: -moz-linear-gradient(left, rgba(53,53,53,0.65) 0%, rgba(53,53,53,0.3) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,53,53,0.65)), color-stop(100%,rgba(53,53,53,0.3))); background: -webkit-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -o-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -ms-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: linear-gradient(to right, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); ">
								</div>
							</div>
							<a class="media-container__link media-container__link--btn media-container__link--style-borderanim1 ">
								<i class="media-container__border-tt"></i>
								<i class="media-container__border-tl"></i>
								<span class="media-container__text">Apoio Psicológico</span>
								<i class="media-container__border-bb"></i>
								<i class="media-container__border-br"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="hg_section p-0">
			<div class="full_width">
				<div class="row">
							<div class="col-md-5 col-sm-5">
						<div class="media-container h-500">
							<div class="kl-bg-source">
								<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/beneficios/cursos.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover">
								</div>
								<div class="kl-bg-source__overlay" style="background:rgba(53,53,53,0.65); background: -moz-linear-gradient(left, rgba(53,53,53,0.65) 0%, rgba(53,53,53,0.3) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,53,53,0.65)), color-stop(100%,rgba(53,53,53,0.3))); background: -webkit-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -o-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: -ms-linear-gradient(left, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); background: linear-gradient(to right, rgba(53,53,53,0.65) 0%,rgba(53,53,53,0.3) 100%); ">
								</div>
							</div>
							<a class="media-container__link media-container__link--btn media-container__link--style-borderanim1 ">
								<i class="media-container__border-tt"></i>
								<i class="media-container__border-tl"></i>
								<span class="media-container__text">Cursos</span>
								<i class="media-container__border-bb"></i>
								<i class="media-container__border-br"></i>
							</a>
						</div>
					</div>
					
					<div class="col-md-7 col-sm-7">
						<div class="row hg_col_eq_last p-top-6 p-left-6">
							<div class="col-md-12 col-sm-12">
								<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title" style="padding-bottom: 10px;">
									<h3 class="tbk__title" >Cursos</h3>
									<div class="tbk__symbol" style="margin-bottom: 10px;">
										<span></span>
									</div>
								</div>
								<div class="text_box">
									<p style="text-align: justify;">
									Oferecemos cursos e outros tipos de capacitação para orientar os nossos associados e familiares acerca de seus direitos e deveres. Nossa equipe multidisciplinar também oferece o curso de acompanhante de pacientes, que ensina as técnicas para aplicação dos cuidados necessários e dicas de como agir em situações imprevistas.
									</p>
									<p style="text-align: justify;">De nada adiantaria resolver o problema urgente da dívida em si, se não qualificar o associando, evitando futuras situações de descontrole financeiro e dívidas. A ABRASCOPEI oferece também cursos que visam sensibilizar, informar, e educar sobre a problemática do Endividamento e dão ao associado total condição de gerir sua vida financeira e da sua empresa.</p>
									<p style="text-align: justify;">Criação de Renda: Diante do alto número de desempregados ou subempregados, a ABRASCOPEI também prepara cursos que venham gerar renda aos associados, podendo acrescer ou mesmo garantir os rendimentos necessários para uma vida digna.</p>	
									<div class="services_box services_box--modern sb--hasicon">
										<div class="services_box__inner clearfix">
											<div class="services_box__content">
												<div class="services_box__list-wrapper">
													<span class="services_box__list-bg"></span>
													<ul class="services_box__list">
														<li><span class="services_box__list-text">Próteses para pessoas com deficiência;</span></li>
														<li><span class="services_box__list-text">Cadeiras de rodas;</span></li>
														<li><span class="services_box__list-text">Órteses;</span></li>
														<li><span class="services_box__list-text">Muletas;</span></li>
														<li><span class="services_box__list-text">Fraldas infantis e geriátricas;</span></li>
														<li><span class="services_box__list-text">Leite materno;</span></li>
														<li><span class="services_box__list-text">Suplementos alimentares, entre outros.</span></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<p style="text-align: justify;">Nossa equipe também está envolvida na disseminação de campanhas de estímulo à solidariedade, através da doação de sangue, de órgãos para transplante, leite materno e cadastro para o banco de medula óssea.</p>
									<p style="text-align: justify;">Para que esses benefícios sejam adquiridos e ser nosso associado é só preencher a ficha de inscrição.</p>
								</div>
							</div>
						</div>
					</div>

			
				</div>
			</div>
		</section>
