<div id="page_wrapper">
	<header id="header" class="site-header style9 cta_button" data-header-style="9">
		<div class="container siteheader-container">
			<div class="separator dark visible-xs"></div>
			<div class="logo-container logosize--yes">
				<h1 class="site-logo logo" id="logo">
					<a href="/">
						<img src="assets/img/logo-Abracospei.png" class="logo-img" alt="ABRASCOPEI" title="ABRASCOPEI">
					</a>
				</h1>
			</div>
			<div class="separator dark visible-xs"></div>
			<div id="zn-res-menuwrapper">
				<a href="#" class="zn-res-trigger zn-header-icon"></a>
			</div>
			<div id="main-menu" class="main-nav zn_mega_wrapper ">
				<ul id="menu-main-menu" class="main-menu zn_mega_menu">
					<li class="menu-item-has-children"><a>Instituição</a>
						<ul class="sub-menu clearfix">
							<li routerLinkActive="active"><a routerLink="/empresa" href="#/empresa">Quem somos</a></li>
							<li routerLinkActive="active"><a routerLink="/presidente" href="#/presidente" >Presidente</a></li>	
						</ul>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/beneficios" href="#/beneficios">Benefícios</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/videos" href="#/videos">Vídeos</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/noticias" href="#/noticias" onClick="window.location.reload()">Notícias</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/cursosEventos" href="#/cursosEventos">Cursos e Eventos</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/diva" href="#/diva">Divã</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/parceiros" href="#/parceiros" onClick="window.location.reload()">Seja Parceiro</a>
					</li>
					<li class="menu-item-has-children" routerLinkActive="active">
						<a routerLink="/sejaAssociado" href="#/sejaAssociado" onClick="window.location.reload()">Associe-se</a>
					</li>
					<li class="menu-item-has-children"><a>Contatos</a>
						<ul class="sub-menu clearfix">
							<li routerLinkActive="active">
								<a routerLink="/contato" href="#/contato" onClick="window.location.reload()">Entre em Contato</a>
							</li>
							<li routerLinkActive="active">
								<a routerLink="/curriculo" href="#/curriculo" onClick="window.location.reload()">Oportunidades</a>
							</li>	
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<router-outlet></router-outlet>

	<section class="hg_section section-shadow bg-white ptop-65 pb-20">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<div class="kl-title-block clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
						<h3 class="tbk__title montserrat fw-semibold tcolor">Se deseja uma filial da ABRASCOPEI em seu município ou em seu Estado,  entre em contato conosco ou envie um e-mail.</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="th-spacer clearfix" style="height: 10px;">
					</div>
					<div class="text-left">
						<a class="btn-element btn btn-lined lined-custom btn-md btn-block " href="#/contato" style="margin:0 0 10px 0;"><span>Solicite agora um contato</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="row" style="margin: 40px -15px;">
				<div class="col-sm-4">
				<img src="assets/img/logo-Abracospei-f.png" alt="Abrascopei" style="margin-top: 10%;">
				</div>
				<div class="col-sm-3">
					<h3 class="title m_title">Contatos</h3>
					<p style="font-size: 14px;"><a href="mailto:contato@saude-consumidores.com.br">contato@saude-consumidores.com.br</a><br>
					Tel:<a href="tel:+5527998504293"> (27) 99850-4293</a>
				</div>
				<div class="col-sm-3">
					<h3 class="title m_title">Endereço</h3>
						<p style="font-size: 14px;">Praça Costa Pereira, 52 - Sala: 1001 e 1002<br> Centro - Vitoria/ES <br> CEP: 29.010-080</p>
				</div>
				<div class="col-sm-2">
					<div>
						<h3 class="title m_title">Institucional</h3>
							<div class="sbs">
								<ul class="menu" style="display: inline-grid;">
									<li><a href="/">Home</a></li>
									<li><a href="#/empresa">Quem Somos</a></li>
									<li><a href="#/parceiros" onClick="window.location.reload()">Parceiros</a></li>
									<li><a href="#/sejaAssociado" onClick="window.location.reload()">Associe-se</a></li>
									<li><a href="#/contato" onClick="window.location.reload()">Contato</a></li>
								</ul>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="bottom clearfix">
						<ul class="social-icons sc--clean clearfix">
							<li class="title">Rede Social</li>
							<li>
								<a href="https://www.facebook.com/Abrascopei-124690038108325/" target="_self" class="icon-facebook" title="Facebook"></a>
							</li>
							<li>
								<a href="#" target="_blank" class="icon-google" title="Google Plus"></a>
							</li>
							<li>CNPJ: 19.794.889/0001-54 <br> Abrascopei</li>
						</ul>
						<div class="copyright">
							<p style="font-size: 14px;">
								Assessoria de Comunicação / Associação ABRASCOPEI / Nacional<br>
								Conteúdo e Edição: <a target="_blank">Jornalista Déborah Nicchio Sathler</a> <br>
								Desenvolvimento e Design: <a href="https://www.facebook.com/ideiasangelomarques" target="_blank">Angelo Marques</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>
    
    
    