		<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
			<div class="bgback">
			</div>

			<div class="kl-slideshow-inner static-content__wrapper static-content--height">
				<!-- Static content source background with animateme scroll efect -->
				<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
					<!-- Background -->
					<div class="kl-bg-source">
						<!-- Background image -->
						<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
						</div>
						<!--/ Background image -->

						<!-- Gradient overlay -->
						<div class="kl-bg-source__overlay" style="background:rgba(130,36,227,0.35); background: -moz-linear-gradient(left, rgba(130,36,227,0.35) 0%, rgba(53,53,53,0.55) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(130,36,227,0.35)), color-stop(100%,rgba(53,53,53,0.55))); background: -webkit-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: -o-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: -ms-linear-gradient(left, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); background: linear-gradient(to right, rgba(130,36,227,0.35) 0%,rgba(53,53,53,0.55) 100%); ">
						</div>
						<!--/ Gradient overlay -->
					</div>
					<!--/ Background -->


					<!-- Animated Sparkles -->
					<div class="th-sparkles"></div>
					<!--/ Animated Sparkles -->
				</div>
				<!-- /.static-content__source -->

				<!-- Static content container -->
				<div class="static-content__inner container">
					<!-- Container safe padding default top 150px and animateme effect -->
					<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
						<!-- Textpop style -->
						<div class="static-content textpop-style">
							<!-- Text pop -->
							<div class="textpop__texts">
							
								<!-- Line #2 -->
								<span class="textpop__line2">Empresa</span>

							</div>
							<!--/ Text pop -->

							<div class="col-sm-6">
								<!-- Breadcrumbs -->
								<ul class="breadcrumbs fixclear">
									<li><a href="/">Home</a></li>
									<li>Quem Somo</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<!--/ col-sm-6 -->

							<div class="col-sm-6">
								<!-- Sub-header titles -->
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">ABRASCOPEI</h2>
								</div>
								<!--/ Sub-header titles -->
							</div>
							<!--/ col-sm-6 -->
						</div>
						<!--/ .textpop-style -->
					</div>
					<!--/ Container safe padding default top 150px and animateme effect -->
				</div>
				<!--/ .static-content__inner -->
			</div>
			<div class="kl-bottommask kl-bottommask--mask4">
				<svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
							<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#f5f5f5"></path>
				</svg>
			</div>
		</div>

		<section class="hg_section pbottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="kl-title-block clearfix tbk--left tbk-symbol--line tbk-icon-pos--after-title ptop-35 pbottom-65">
							<h2 class="tbk__title montserrat fs-34 black">Sobre a <strong>ABRASCOPEI </strong></h2>
							<div class="tbk__symbol ">
								<span></span>
							</div>
							<h4 class="tbk__subtitle fs-26 fw-thin">Associação Brasileira de Apoio à Saúde e Consumidores e Pequenos Empresários Inadimplentes</h4>
						</div>
					</div>
					<div class="col-md-5 col-sm-5">
						<div>
							<a href="#" target="_blank" class="offer-banners-link hoverBorder">
							<span class="hoverBorderWrapper">
								<img src="assets/img/banner-hospital.jpg" class="img-responsive offer-banners-img" alt="" title="" style="box-shadow: 0px 2px 4px 1px #ccc;" />
								<span class="theHoverBorder"></span>
							</span>
							</a>
						</div>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="text_box">
							<p style="font-size: medium; text-align: justify;">A ABRASCOPEI é uma instituição de abrangência  nacional, sem fins lucrativos, que possui o objetivo de fomentar parcerias com entidades, englobando agentes diversos como: escolas, igrejas, faculdades privadas e empresas. O intuito é prestar apoio, assistência, proteção, orientação jurídica, promoção de direitos e defesa dos associados e seus familiares. </p>	
							<p style="font-size: medium; text-align: justify;">Alinhavando parceiros para o estabelecimento de ações sociais, educativas, através da elaboração de projetos em prol do coletivo. Com a criação de núcleos de atividades em quaisquer regiões do país e no exterior, inclusive através da mobilização de entidades governamentais e organizações não governamentais nacionais e internacionais. Suas bases de atuação estão centralizadas na área da Saúde e Bem-Estar; e de Defesa do Consumidor.</p>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<h3 class="tbk__title montserrat fs-28 fw-bold">Saúde e Bem-Estar </h3>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title ">
							<h3 class="tbk__title fs-20 fw-extrabold gray" style="text-align: justify;">“A saúde pública deve ser exercida com parâmetros de atenção em todos os níveis, desde o atendimento básico até os serviços mais complexos. Sendo assim, considerada um direito fundamental que deve valer de maneira equitativa para todos os cidadãos, visando à construção de uma sociedade saudável”. </h3>
						</div>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="text_box">
							<p style="font-size: medium; text-align: justify;">
								A ABRASCOPEI atua na contribuição para o bem-estar dos seus associados e familiares, oferecendo apoio jurídico e psicológico aos associados usuários do SUS, do sistema privado e profissionais da saúde. Que enfrentam problemas diversos ferindo a Constituição Federal, no seu artigo 196, que trata da saúde como direito através do acesso universal. Ou questões profissionais ligados ao segmento. A ABRASCOPEI também atua na elaboração de projetos e ações focadas na área da saúde em bairros periféricos e nas regiões metropolitanas, com institutos de assistência social e na promoção da saúde emocional.
							</p>
						</div>
					</div>    
				</div>
			</div>
		</section>
		<section class="hg_section pbottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<a href="#" target="_blank" class="offer-banners-link hoverBorder">
						<span class="hoverBorderWrapper">
							<img src="assets/img/consumidor.jpg" class="img-responsive offer-banners-img" alt="" title="" style="box-shadow: 0px 2px 4px 1px #ccc;" />
							<span class="theHoverBorder"></span>
						</span>
						</a>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="text_box">
							<h3 class="tbk__title montserrat fs-28 fw-bold">Consumidor</h3>
							<p style="font-size: medium; text-align: justify;">
								A ABRASCOPEI posiciona-se como uma instituição parceira de seus associados à frente de ações de apoio jurídico e atendimentos especializados aos associados em causas ligadas ao consumidor. Inclusive tendo seu nome ou reputação prejudicados na justiça. A ABRASCOPEI realiza plantões jurídicos e disponibiliza profissionais para associados que possuírem dificuldades na área financeira. Principalmente aqueles que hoje estão com seus nomes inscritos nos órgãos do SERASA e SPC, vivendo situações de desequilíbrios-financeiro e emocional.  Com a realização de eventos, palestras e seminários que promovam reflexões acerca da sociedade do consumo, tratando de temas como planejamento financeiro, plano de negócios e recuperação de crédito. Além de encaminhamento para serviço de psicanálise os indivíduos que estão passando por sofrimento emocional.
							</p>
						</div>
					</div>
				</div>
				<div class="hg_separator clearfix"></div>
			</div>
		</section>
		<section class="hg_section pbottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="kl-title-block clearfix text-left tbk-symbol-- tbk-icon-pos--after-title">
							<div class="col-md-6 col-sm-6">
								<h3 class="tbk__title montserrat fs-28 fw-bold">Missão </h3>
								<div class="text_box">
									<p style="font-size: medium; text-align: justify;">
										Atender com presteza e excelência os associados e seus familiares. Atuando através de parcerias, com dinamismo e humanismo.
									</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<h3 class="tbk__title montserrat fs-28 fw-bold">Visão </h3>
								<div class="text_box">
									<p style="font-size: medium; text-align: justify;">
									Ser referência em projetos e ações sociais de caráter nacional no atendimento social e humano.
									</p>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>