 <div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
			<div class="bgback">
			</div>
			<div class="kl-slideshow-inner static-content__wrapper static-content--height">
				<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
					<div class="kl-bg-source">
						<div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
						</div>		
					</div>
					<div class="th-sparkles"></div>
				</div>
				<div class="static-content__inner container">
					<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
						<div class="static-content textpop-style">
							<div class="textpop__texts">
								<span class="textpop__line2">OPORTUNIDADES!!!</span>
							</div>
							<div class="col-sm-6">
								<ul class="breadcrumbs fixclear">
									<li><a href="/">Home</a></li>
									<li>Currículo</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="col-sm-6">
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">ABRASCOPEI</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kl-bottommask kl-bottommask--mask4">
				<svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
							<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#fff"></path>
				</svg>
			</div>
		</div>
    <section class="hg_section bg-white">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 col-sm-6">
						<!-- Text box element -->
						<div class="text_box">
							<p style="font-size: medium; text-align: justify;">
                Profissionais da saúde e cuidadores, divulguem o seu trabalho para milhares de clientes!!<br>
                Aumente a sua renda, faça seus horários, gerencie sua agenda.<br>
                Conectando saúde e idosos.
                </p>
								<h3>VEM PARA ABRASCOPEI!!</h3>
								<h3>Faça já a sua INSCRIÇÃO!!!</h3>
            
						</div>	
					</div>
					<div class="col-md-6 col-sm-6">
						<div>
							<a href="#" target="_blank" class="offer-banners-link hoverBorder">
							<span class="hoverBorderWrapper">
								<img src="assets/img/curriculo.jpg" class="img-responsive offer-banners-img" alt="" title="" style="box-shadow: 0px 2px 4px 1px #ccc;" />
								<span class="theHoverBorder"></span>
							</span>
							</a>
						</div>
					</div>
          
				</div>
			</div>
		</section>
    <section class="hg_section ptop-80 pbottom-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Contact form -->
						<div class="contactForm">
							<!-- -->
							<form  #f="ngForm" (ngSubmit)="onSubmit(f)"  class="contact_form row" enctype="multipart/form-data" action="http://saude-consumidores.com.br/assets/php/curriculo.php"  method="post">
								<div class="cf_response"></div>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="Nome" class="form-control" placeholder="Nome" value="" tabindex="1" maxlength="35" required 
									ngModel>
									<label class="control-label">Nome</label>
								</p>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="Sobrenome" class="form-control" placeholder="Sobrenome" value="" tabindex="1" maxlength="35" required ngModel>
									<label class="control-label">Sobrenome</label>
								</p>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="E-mail" class="form-control h5-email" placeholder="E-mail" value="" tabindex="1" maxlength="35" required ngModel>
									<label class="control-label">E-mail</label>
								</p>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="Telefone" class="form-control" placeholder="Telefone" value="" tabindex="1" maxlength="35" required ngModel>
									<label class="control-label">Telefone</label>
								</p>
									<p class="col-sm-6 kl-fancy-form">
										<label class="control-label">Currículo:</label><br>
									<input type="file" id="userfile" class="form-control" (change)="setFile($event)" name='userfile' ngModel>
										
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<textarea name="Mensagem" class="form-control" cols="30" rows="5" placeholder="Mensagem" tabindex="4" ngModel></textarea>
									<label class="control-label">Mensagem</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									
									<button class="btn btn-fullcolor" type="submit" style="float: right;" (click)="triggerFile(fileInput)">Enviar</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
