  <div class="kl-slideshow uh_light_gray kl-revolution-slider">
    <div class="bgback"></div>
    <div class="th-sparkles"></div>
    <div id="rev_slider_40_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
      <div id="rev_slider_40_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.6">
        <ul>
          <li data-index="rs-124" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img/slider/1.jpg" data-rotate="0" data-saveperformance="off" data-title="Negociação e Renegociação" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <img src="assets/img/slider/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-124-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-124-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['40','40','30','20']" data-lineheight="['25','25','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;text-transform:left;font-style:italic;">
              A ABRASCOPEI tem
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2" id="slide-124-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;text-transform:left;">
              Negociação e Renegociação de Dívidas
            </div>
          </li>

          <!-- SLIDE  -->
          <li data-index="rs-125" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img/banner-hospital.jpg" data-rotate="0" data-saveperformance="off" data-title="Valorizando a Vida" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <img src="assets/img/banner-hospital.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-125-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.65);border-color:rgba(0, 0, 0, 0);">
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle-Dark tp-resizeme rs-parallaxlevel-2" id="slide-126-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-74']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;text-transform:left;font-style:italic;">
              Valorizando a Vida
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-Title-Dark tp-resizeme rs-parallaxlevel-2" id="slide-126-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-transform:left;">
              Diminuindo o Sofrimento
            </div>
          
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-126" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img/slider/3.jpg" data-rotate="0" data-saveperformance="off" data-title="Planejamento Financeiro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <img src="assets/img/slider/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-126-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;text-transform:left;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-125-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;text-transform:left;font-style:italic;">
              Planejamento Financeiro
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2" id="slide-125-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;text-transform:left;">
              Recuperação Do Crédito 
            </div>
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-127" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="assets/img/slider/6.jpg" data-rotate="0" data-saveperformance="off" data-title="Saúde" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <img src="assets/img/slider/6.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-127-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-127-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;text-transform:left;font-style:italic;">
              Saúde: Direito de Todos  
            </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2" id="slide-127-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','40','30','20']" data-lineheight="['50','40','30','20']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;text-transform:left;">
              e Dever do Estado
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
        </div>
      </div>
    </div>
    <style>
    .tp-caption.Concept-SubTitle,.Concept-SubTitle{color:rgba(255,255,255,1.00);font-size:25px;line-height:25px;font-weight:700;font-style:italic;font-family:Playfair Display;padding:0 0 10px 0;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;text-shadow: 1px 2px 2px #000;}
    .tp-caption.Concept-Title,.Concept-Title{color:rgba(255,255,255,1.00);font-size:60px;line-height:70px;font-weight:700;font-style:normal;font-family:Playfair Display;padding:0 0 10px 0;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;letter-spacing:5px;text-shadow: 1px 2px 2px #000;}
    .tp-caption.Concept-MoreBtn,.Concept-MoreBtn{color:rgba(255,255,255,1.00);font-size:30px;line-height:30px;font-weight:300;font-style:normal;font-family:Roboto;padding:10px 8px 7px 10px;text-decoration:none;text-align:left;background-color:transparent;border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;letter-spacing:1px}
    .tp-caption.Concept-MoreBtn:hover,.Concept-MoreBtn:hover{color:rgba(255,255,255,1.00);text-decoration:none;background-color:rgba(255,255,255,0.15);border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;cursor:pointer}
    .tp-caption.Concept-Notice,.Concept-Notice{color:rgba(255,255,255,1.00);font-size:15px;line-height:15px;font-weight:400;font-style:normal;font-family:Roboto Condensed;padding:0px 0px 0px 0px;text-decoration:none;text-align:center;background-color:rgba(0,0,0,0);border-color:rgba(255,255,255,1.00);border-style:none;border-width:2px;border-radius:0 0 0 0px;letter-spacing:2px}
    .tp-caption.Concept-Content,.Concept-Content{color:rgba(255,255,255,1.00);font-size:20px;line-height:30px;font-weight:400;font-style:normal;font-family:Roboto Condensed;padding:0px 0px 0px 0px;text-decoration:none;text-align:center;background-color:rgba(0,0,0,0);border-color:rgba(255,255,255,1.00);border-style:none;border-width:2px;border-radius:0 0 0 0px}
    .tp-caption.Concept-LessBtn,.Concept-LessBtn{color:rgba(255,255,255,1.00);font-size:30px;line-height:30px;font-weight:300;font-style:normal;font-family:Roboto;padding:10px 8px 7px 10px;text-decoration:none;text-align:left;background-color:rgba(0,0,0,1.00);border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;letter-spacing:1px}
    .tp-caption.Concept-LessBtn:hover,.Concept-LessBtn:hover{color:rgba(0,0,0,1.00);text-decoration:none;background-color:rgba(255,255,255,1.00);border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;cursor:pointer}.tp-caption.Concept-SubTitle-Dark,.Concept-SubTitle-Dark{color:#1b054b;font-size:25px;line-height:25px;font-weight:700;font-style:italic;font-family:Playfair Display;padding:0 0 10px 0;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;text-shadow: 1px 2px 2px #fff;}
    .tp-caption.Concept-Title-Dark,.Concept-Title-Dark{color:#1b054b;font-size:70px;line-height:70px;font-weight:700;font-style:normal;font-family:Playfair Display;padding:0 0 10px 0;text-decoration:none;text-align:center;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;letter-spacing:5px; text-shadow: 1px 2px 2px #fff;}
    .tp-caption.Concept-MoreBtn-Dark,.Concept-MoreBtn-Dark{color:rgba(0,0,0,1.00);font-size:30px;line-height:30px;font-weight:300;font-style:normal;font-family:Roboto;padding:10px 8px 7px 10px;text-decoration:none;text-align:left;background-color:transparent;border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;letter-spacing:1px}
    .tp-caption.Concept-MoreBtn-Dark:hover,.Concept-MoreBtn-Dark:hover{color:rgba(255,255,255,1.00);text-decoration:none;background-color:rgba(0,0,0,1.00);border-color:rgba(255,255,255,0);border-style:solid;border-width:0px;border-radius:50px 50px 50px 50px;cursor:pointer}
    .tp-caption.Concept-Content-Dark,.Concept-Content-Dark{color:rgba(0,0,0,1.00);font-size:20px;line-height:30px;font-weight:400;font-style:normal;font-family:Roboto Condensed;padding:0px 0px 0px 0px;text-decoration:none;text-align:center;background-color:rgba(0,0,0,0);border-color:rgba(255,255,255,1.00);border-style:none;border-width:2px;border-radius:0 0 0 0px}</style>
    <style type="text/css">
    .tp-caption.Concept-Content a,.tp-caption.Concept-Content a:visited{color:#fff !important; border-bottom:1px solid #fff !important; font-weight:700 !important}
    .tp-caption.Concept-Content a:hover{border-bottom:1px solid transparent !important}
    .tp-caption.Concept-Content-Dark a,.tp-caption.Concept-Content-Dark a:visited{color:#000 !important; border-bottom:1px solid #000 !important; font-weight:700 !important}
    .tp-caption.Concept-Content-Dark a:hover{border-bottom:1px solid transparent !important}
    </style>
    <style type="text/css">
    #rev_slider_40_1 .zeus .tp-bullet{box-sizing:content-box; -webkit-box-sizing:content-box; border-radius:50%;   background-color:rgba(0,0,0,0);   -webkit-transition:opacity 0.3s ease;   transition:opacity 0.3s ease;  width:13px;height:13px;  border:2px solid rgb(255,255,255)}
    #rev_slider_40_1 .zeus .tp-bullet:after{content:""; position:absolute; width:100%; height:100%; left:0; border-radius:50%; background-color:rgb(255,255,255); -webkit-transform:scale(0); transform:scale(0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; -webkit-transition:-webkit-transform 0.3s ease; transition:transform 0.3s ease}
    #rev_slider_40_1 .zeus .tp-bullet:hover:after,#rev_slider_40_1 .zeus .tp-bullet.selected:after{-webkit-transform:scale(1.2); transform:scale(1.2)}
    #rev_slider_40_1 .zeus .tp-bullet-image,#rev_slider_40_1 .zeus .tp-bullet-imageoverlay{width:135px; height:60px; position:absolute; background:#000; background:rgba(0,0,0,0.5); bottom:13px; margin-bottom:10px; transform:translateX(-50%); -webkit-transform:translateX(-50%); box-sizing:border-box; background-size:cover; background-position:center center; visibility:hidden; opacity:0;  -webkit-backface-visibility:hidden;  backface-visibility:hidden; -webkit-transform-origin:50% 50%;  transform-origin:50% 50%;   -webkit-transition:all 0.3s ease;   transition:all 0.3s ease; border-radius:4px}
    #rev_slider_40_1 .zeus .tp-bullet-title,#rev_slider_40_1 .zeus .tp-bullet-imageoverlay{z-index:2; -webkit-transition:all 0.5s ease;   transition:all 0.5s ease; transform:translateX(-50%); -webkit-transform:translateX(-50%)}
    #rev_slider_40_1 .zeus .tp-bullet-title{color:rgb(255,255,255); text-align:center; line-height:15px; font-size:13px; font-weight:600;  z-index:3;  visibility:hidden; opacity:0;  -webkit-backface-visibility:hidden;  backface-visibility:hidden; -webkit-transform-origin:50% 50%;  transform-origin:50% 50%;   -webkit-transition:all 0.3s ease;   transition:all 0.3s ease; position:absolute; bottom:45px; width:135px;   vertical-align:middle}
    #rev_slider_40_1 .zeus .tp-bullet:hover .tp-bullet-title,#rev_slider_40_1 .zeus .tp-bullet:hover .tp-bullet-image,#rev_slider_40_1 .zeus .tp-bullet:hover .tp-bullet-imageoverlay{opacity:1;   visibility:visible;  -webkit-transform:translateY(0px) translateX(-50%);   transform:translateY(0px) translateX(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet-image,#rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet-imageoverlay{bottom:auto; margin-right:10px; margin-bottom:0px; right:13px; transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet:hover .tp-bullet-image{transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet-title,#rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet-imageoverlay{z-index:2; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet-title{bottom:auto;   right:100%;   margin-right:10px}
    #rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet:hover .tp-bullet-title,#rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet:hover .tp-bullet-image,#rev_slider_40_1 .zeus.nav-dir-vertical .tp-bullet:hover .tp-bullet-imageoverlay{transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet-image,#rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet-imageoverlay{bottom:auto; margin-left:10px; margin-bottom:0px; left:13px; transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet:hover .tp-bullet-image{transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title,#rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet-imageoverlay{z-index:2; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; transform:translateX(0px) translateY(-50%); -webkit-transform:translateX(0px) translateY(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title{bottom:auto;   left:100%;   margin-left:10px}#rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-image,#rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-imageoverlay{bottom:auto; top:13px; margin-top:10px; margin-bottom:0px; left:0px; transform:translateY(0px) translateX(-50%); -webkit-transform:translateX(0px) translateX(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet:hover .tp-bullet-image{transform:scale(1) translateY(0px) translateX(-50%); -webkit-transform:scale(1) translateY(0px) translateX(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title,#rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-imageoverlay{z-index:2; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; transform:translateY(0px) translateX(-50%); -webkit-transform:translateY(0px) translateX(-50%)}
    #rev_slider_40_1 .zeus.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title{bottom:auto;   top:13px;   margin-top:20px}
    .Concept-LessBtn { top: 70px;}
    </style>
    <!-- END REVOLUTION SLIDER -->
    
  </div>
  <div class="action_box" data-arrowpos="center">
    <div class="action_box_inner">
      <div class="action_box_content">
        <div class="ac-content-text">
          <h4 class="text">Associação Brasileira de Apoio à Saúde e Consumidores e Pequenos Empresários Inadimplentes</h4>
        </div>
        <div class="ac-buttons">
          <a class="btn btn-lined ac-btn" href="#/empresa" data-lightbox="iframe">Quer saber mais?</a>
        </div>
      </div>
    </div>
    <div class="kl-bottommask kl-bottommask--mask3">
      <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
            <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="SourceGraphic"></feMergeNode>
              <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
          </filter>
        </defs>
        <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
      </svg>
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
  </div>
  <section class="hg_section ptop-80">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="kl-title-block clearfix tbk--left text-left tbk-symbol--line_border tbk--colored tbk-icon-pos--after-title">
            <h3 class="tbk__title">ABRASCOPEI</h3>
            <div class="tbk__symbol ">
              <span></span>
            </div>
            <h4 class="tbk__subtitle" style="text-align:justify;">Associação Brasileira de Apoio à Consumidores e Pequenos Empresários Inadimplentes</h4>
            <div class="tbk__text">
              <p style="font-size: medium; text-align:justify;">
              Somos uma entidade sem fins lucrativos e temos por finalidade principal reestabelecer a dignidade e a qualidade de vida de consumidores e pequenos empresários brasileiros e que se encontram em dificuldade financeira, com seus nomes inscritos nos cadastros restritivos, estando assim inadimplentes e com suas vidas e atividades paralisadas.<br>
              Através de estudos, elaboração de projetos e ações, a ABRASCOPEI está sempre disponível para a Sociedade, sendo uma referência em todo o País na busca de soluções viáveis, que venham sanar ou amenizar a crise financeira que muitos vivem e por isso estão inadimplentes.

              </p>
            </div>
          </div>
          <div >
            <a href="#" target="_blank" class="offer-banners-link hoverBorder">
              <span class="hoverBorderWrapper">
                <img src="assets/img/banner1.png" class="img-responsive offer-banners-img" alt="" title="" />
                <span class="theHoverBorder"></span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="fb-page" data-href="https://www.facebook.com/Abrascopei-124690038108325" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Abrascopei-124690038108325" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Abrascopei-124690038108325">ABRASCOPEI</a></blockquote></div>
        </div>
      </div>
    </div>
  </section>
  <section class="hg_section  bg-white section-shadow ptop-65 pbottom-65"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 recentwork_carousel_v3">
          <!-- Title element -->
          <div class="kl-title-block clearfix text-center tbk-symbol--line tbk--colored tbk-icon-pos--after-title">
            <h3 class="recentwork_carousel__title m_title">ALGUNS BENEFÍCIOS</h3>
            <div class="tbk__symbol ">
              <span></span>
            </div>
          </div>
          <div class="process_steps process_steps--style1 kl-bgc-light">
            <div class="process_steps__step process_steps__intro process_steps__height">
              <div class="process_steps__intro-wrp">
                <h3 class="process_steps__intro-title"><strong>Apoio Jurídico</strong></h3>
                <p class="process_steps__intro-desc" style="text-align: justify; font-size: medium;">
                  Tanto nas negociações entre credor e devedor, como em ações de suspensão de cadastros restritivos. Essas ações dependem de análise competente de nossa assessoria jurídica, definindo a viabilidade da ação, considerando caso a caso.
                </p>
                <a href="#/beneficios" target="_blank" class="process_steps__intro-link" style="font-size: medium;">Quer saber mais?</a>
              </div>
            </div>
            <div class="process_steps__step process_steps__step process_steps__intro process_steps__height">
              <h3 class="process_steps__intro-title"><strong>Apoio Psicológico</strong></h3>
              <p class="process_steps__step-desc" style="text-align: justify; font-size: medium;">
                O endividamento deixa sequelas difíceis de serem contornadas e afetam o inadimplente também emocionalmente, influenciando diretamente na vida social e familiar. <br>&nbsp;<br>&nbsp;<br>&nbsp;  
              </p>
              <a href="#/beneficios" target="_blank" class="process_steps__intro-link" style="font-size: medium;">Quer saber mais?</a>
            </div>
            <div class="process_steps__step process_steps__step process_steps__intro process_steps__height">
              <h3 class="process_steps__intro-title"><strong>Cursos</strong></h3>
              <p class="process_steps__step-desc" style="text-align: justify; font-size: medium;">
                De nada adiantaria resolver o problema urgente da dívida em si, se não qualificar o associando, evitando futuras situações de descontrole financeiro e dívidas. <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
              </p>
              <a href="#/beneficios" target="_blank" class="process_steps__intro-link" style="font-size: medium;">Quer saber mais?</a>
            </div>
            <div class="process_steps__step process_steps__step process_steps__intro process_steps__height">
              <h3 class="process_steps__intro-title"><strong>Profissionalização</strong></h3>
              <p class="process_steps__step-desc" style="text-align: justify; font-size: medium;">
              A ABRASCOPEI fornece cursos profissionalizantes, aumentando a empregabilidade de seus associados, atendendo ao mercado de trabalho nas suas necessidades.<br>&nbsp;<br> &nbsp;<br> &nbsp;<br> 
              </p>
              <a href="#/beneficios" target="_blank" class="process_steps__intro-link" style="font-size: medium;">Quer saber mais?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hg_section--relative ptop-80 pbottom-80">
    <!-- Background source -->
    <div class="kl-bg-source">
      <!-- Background image with parallax effect -->
      <div class="kl-bg-source__bgimage" data-parallax="scroll" data-image-src="assets/img/6.jpg">
      </div>
      <!--/ Background image with parallax effect -->
    </div>
    <!--/ Background source -->

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="kl-title-block clearfix text-center tbk-symbol--line tbk-icon-pos--after-title">
            <h3 class="tbk__title white">UMA PORTA QUE SE ABRE</h3>
            <div class="tbk__symbol ">
              <span></span>
            </div>
          </div>
          <div class="testimonials-partners testimonials-partners--light">
            <!-- Testimonials  element-->
            <div class="ts-pt-testimonials clearfix">
              <!-- Item - size 2 and normal style with custom margin top -->
              <div class="ts-pt-testimonials__item ts-pt-testimonials__item--size-2 ts-pt-testimonials__item--normal" style="margin-top:20px; ">
                <!-- Testimonial text -->
                <div class="ts-pt-testimonials__text" style="text-align: justify;">
                  Temos no Brasil 55,5 milhões de devedores negativados. A restrição cadastral é um peso com consequências não apenas econômicas, mas também emocionais que desencadeiam problemas em todas as áreas da vida da pessoa, destruindo negócios, famílias e vidas. A ABRASCOPEI busca sempre uma saída possível que seja boa para devedor, credor e sociedade.
                </div>
                <!--/ Testimonial text -->

                <!-- Testimonial info -->
                <div class="ts-pt-testimonials__infos ts-pt-testimonials__infos--">
                  <!-- User image -->
                  <div class="ts-pt-testimonials__img" style="background-image:url('assets/img/logo.png');" title="ABRASCOPEI">
                  </div>
                  <!--/ User image -->

                  <!-- Name -->
                  <h4 class="ts-pt-testimonials__name">ABRASCOPEI</h4>
                  <!--/ Name -->

                  <!-- Review stars - 5 stars -->
                  <div class="ts-pt-testimonials__stars ts-pt-testimonials__stars--5">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <!--/ Review stars - 5 stars -->
                </div>
                <!--/ Testimonial info - .ts-pt-testimonials__infos -->
              </div>

            </div>

          </div>
          <!--/ Testimonials & Partners element - light text style -->
        </div>
        <!--/ col-md-12 col-sm-12 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container -->
  </section>
  <div class="kl-slideshow circularcatalogue">
    <div class="bgback"></div>
    <div class="th-sparkles"></div>
    <div class="kl-bg-source">
      <div class="kl-bg-source__overlay" style="background-color:rgba(255,255,255,1)"></div>
    </div>
    <div class="kl-slideshow-inner container kl-slideshow-safepadding">
      <div class="row">
        <div class="ca-container">
          <div class="ca-nav">
            <span class="ca-nav-prev"><span class="glyphicon glyphicon-chevron-left icon-white"></span></span>
            <span class="ca-nav-next"><span class="glyphicon glyphicon-chevron-right icon-white"></span></span>
          </div>
          <div class="ca-wrapper" data-autoplay="1" data-timout="9000">
            <div class="ca-item">
              <div class="ca-item-main">
                <div class="ca-background"></div>
                <div class="ca-icon" style="background-image:url(assets/img/news/recessao_afeta_capital.jpg);"></div>
                <h3 class="ca-title">Recessão afeta capital de giro e deixa pequenas empresas endividadas</h3>
                <div class="ca-text">
                  A recessão econômica está criando dificuldades para as pequenas e médias empresas (PMEs) fecharem as contas do mês. Segundo dados do Banco Central (BC), a taxa de inadimplência das pessoas jurídicas nos empréstimos bancários com recursos livres ficou em 4,1% em agosto deste ano. 
                </div>
                <a href="#" class="btn btn-fullcolor ca-more js-ca-more">Saiba mais <span class="glyphicon glyphicon-chevron-right icon-white"></span></a>
              </div>
              <div class="ca-content-wrapper">
                <a href="#" class="ca-close js-ca-close">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <div class="ca-content">
                  <h6 class="ca-panel-title">Recessão afeta capital de giro e deixa pequenas empresas endividadas</h6>
                  <div class="ca-content-text">
                    <p>
                      A recessão econômica está criando dificuldades para as pequenas e médias empresas (PMEs) fecharem as contas do mês. Segundo dados do Banco Central (BC), a taxa de inadimplência das pessoas jurídicas nos empréstimos bancários com recursos livres (sem contar crédito rural e habitacional) ficou em 4,1% em agosto deste ano. O índice permaneceu estável em relação a julho e continua no maior patamar da série histórica iniciada em março de 2011.
                    </p>
                    <p>
                      Entre as linhas mais usadas pelas companhias de porte menor, a inadimplência com o cartão de crédito alcançou 16,76% em agosto, a maior taxa da série medida pelo BC. No mesmo mês do ano passado, o índice estava em 12,38%. Já os atrasos da linha de capital de giro com prazo de até 365 dias, nas quais os pequenos negócios têm grande participação, o valor ficou em 5,99% em agosto de 2015 ante 2,76% registrado em agosto de 2014. No caso do cheque especial, os atrasos estão em 14,59%.
                    </p>
                    <p>
                      O consultor de inteligência e planejamento estratégico da Biancamano & Associados, Jorge Luiz Azevedo, explica que a retração no consumo, a elevada carga tributária e as altas nas taxas de juro estão contribuindo para os aumentos nos índices de inadimplência, puxados principalmente por PMEs. “As pessoas começaram a direcionar os recursos para pagar suas dívidas e pararam de consumir. Isso afeta a receita da empresa. E para as pequenas, está mais caro captar”, afirma.
                    </p>
                    <p>
                      O número de empresas negativadas em todo o país chegou a 4 milhões, de acordo com informações da Serasa Experian. Essas companhias possuem R$ 91 bilhões em dívidas. O coordenador do curso de Economia da PUCPR, Jackson Bittencourt, afirma que 2015 está sendo um ano de sobrevivência para as empresas e que, se houver uma nova proposta de política macroeconômica, o cenário deve melhorar a partir do segundo semestre de 2016.
                    </p>
                    <p>
                      Para equilibrar o caixa, as pequenas e médias empresas tentam antecipar os recebíveis, diminuir as despesas e reduzir os estoques. Caso as estratégias não surtam efeito, a solução adotada pela maioria é buscar crédito junto aos bancos com uma taxa de juros especial, o que não é tão fácil, devido à burocracia e ao risco elevado de calote.
                    </p>
                    <h3>Indicador</h3>
                    <p>
                      A dificuldade de acesso ao crédito é demonstrada pelo índice medido pela Confederação Nacional da Indústria (CNI). No terceiro trimestre de 2015, o índice registrou 29,9 pontos. Quanto mais próximo de zero, maiores são os empecilhos para as indústrias conseguirem dinheiro. Segundo a pesquisa, o país atravessa um período em que a dificuldade de acesso ao crédito é maior que a observada no auge da crise financeira de 2008 e 2009.
                    </p>
                    <p>
                      Quando nenhuma iniciativa de gestão funciona, muitas companhias entram em processo de recuperação judicial. No acumulado do ano até setembro foram registrados 913 pedidos, sendo 466 de micro e pequenas empresas, 277 de médio porte e 170 de grandes organizações. O valor acumulado anual é 44,7% maior que o registrado no mesmo período de 2014.
                    </p>
                    <cite>Jéssica Sant’Ana - Especial para a Gazeta do Povo  [26/10/2015]  [20h55]</cite>
                  </div>
                  <a href="http://www.gazetadopovo.com.br/economia/recessao-afeta-capital-de-giro-e-deixa-pequenas-empresas-endividadas-6qpdbqg4espfmrm2qsuxhells" target="_self">Veja na integra</a>
                </div>
              </div>
            </div>
            <div class="ca-item">
              <div class="ca-item-main">
                <div class="ca-background"></div>
                <div class="ca-icon" style="background-image:url(assets/img/news/fecomercio_divulga.jpg);"></div>
                <h3 class="ca-title">Fecomercio divulga estudo sobre endividamento do brasileiro</h3>
                <div class="ca-text">
                  Uma pesquisa da Fecomercio, a Federação do Comércio de São Paulo, apresentou dados sobre o que está acontecendo com as famílias brasileiras. Esse estudo fala de endividamento e poupança. As famílias brasileiras estão se endividando menos, mas mesmo com menos dívidas...
                </div>
                <a href="#" class="btn btn-fullcolor ca-more js-ca-more">Saiba mais <span class="glyphicon glyphicon-chevron-right icon-white"></span></a>
              </div>
              <div class="ca-content-wrapper">
                <a href="#" class="ca-close js-ca-close">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <div class="ca-content">
                  <h6 class="ca-panel-title">Fecomercio divulga estudo sobre endividamento do brasileiro</h6>
                  <div class="ca-content-text">
                    <p>
                      Uma pesquisa da Fecomercio, a Federação do Comércio de São Paulo, apresentou dados sobre o que está acontecendo com as famílias brasileiras. Esse estudo fala de endividamento e poupança.
                    </p>
                    <p>
                      As famílias brasileiras estão se endividando menos, mas mesmo com menos dívidas, esses consumidores não estão conseguindo guardar dinheiro. Enquanto o emprego não vem, as dívidas se acumulam e na hora do sufoco, muita gente nem faz contas, nem procura os empréstimos com juros mais baratos.
                    </p>
                    <p>
                      Os juros que cada um paga são um espanto. Mas a conta fica ainda mais assustadora quando as dívidas de todos os brasileiros são somadas. Foi o que a Federação do Comércio de São Paulo fez e descobriu que para uma dívida total de R$ 800 bilhões, os juros bateram R$ 320 bilhões em 2015.
                    </p>
                    <p>
                      Os brasileiros já chegaram a dever até mais de R$ 850 bilhões em 2013 e 2014. Mas enquanto o bolo da dívida cai, o dos juros sobem. O que é ruim para as famílias e uma sangria para o país.
                    </p>
                    <p>
                      “A gente está passando por um momento que falta dinheiro circulando na economia. As famílias estão mais pobres, consequentemente elas compram menos e o varejo sente isso. As vendas do varejo estão caindo muito mês após mês”, fala o assessor econômico da Fecomercio-SP, Vitor França.
                    </p>
                    <p>
                      Nos cálculos da Fecomércio, os gastos do governo e das famílias com juros, em um ano, equivalem a oito vezes a arrecadação de uma CPMF, por exemplo, dez vezes o Bolsa Família ou 15% de todo o faturamento do comércio no país.  É sem dúvida um dinheiro que está fazendo falta para quem hoje tenta manter ao menos um fio de esperança.
                    </p>
                    <p>
                      Pelo menos melhorar. A gente sabe que nunca vai 100%, mas pelo menos que melhore um pouco, tenham pelo menos trabalho, conta o desempregado Aminadab Andrade Barbosa.
                    </p>
                  </div>
                  <a href="http://g1.globo.com/jornal-hoje/noticia/2016/04/fecomercio-divulga-estudo-sobre-endividamento-do-brasileiro.html" target="_self">Leia na integra</a>
                </div>
              </div>
            </div>
            <div class="ca-item">
              <div class="ca-item-main">
                <div class="ca-background"></div>
                <div class="ca-icon" style="background-image:url(assets/img/news/recessao_afeta_capital.jpg);"></div>
                <h3 class="ca-title">Recessão afeta capital de giro e deixa pequenas empresas endividadas</h3>
                <div class="ca-text">
                  A recessão econômica está criando dificuldades para as pequenas e médias empresas (PMEs) fecharem as contas do mês. Segundo dados do Banco Central (BC), a taxa de inadimplência das pessoas jurídicas nos empréstimos bancários com recursos livres ficou em 4,1% em agosto deste ano. 
                </div>
                <a href="#" class="btn btn-fullcolor ca-more js-ca-more">Saiba mais <span class="glyphicon glyphicon-chevron-right icon-white"></span></a>
              </div>
              <div class="ca-content-wrapper">
                <a href="#" class="ca-close js-ca-close">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <div class="ca-content">
                  <h6 class="ca-panel-title">Recessão afeta capital de giro e deixa pequenas empresas endividadas</h6>
                  <div class="ca-content-text">
                    <p>
                      A recessão econômica está criando dificuldades para as pequenas e médias empresas (PMEs) fecharem as contas do mês. Segundo dados do Banco Central (BC), a taxa de inadimplência das pessoas jurídicas nos empréstimos bancários com recursos livres (sem contar crédito rural e habitacional) ficou em 4,1% em agosto deste ano. O índice permaneceu estável em relação a julho e continua no maior patamar da série histórica iniciada em março de 2011.
                    </p>
                    <p>
                      Entre as linhas mais usadas pelas companhias de porte menor, a inadimplência com o cartão de crédito alcançou 16,76% em agosto, a maior taxa da série medida pelo BC. No mesmo mês do ano passado, o índice estava em 12,38%. Já os atrasos da linha de capital de giro com prazo de até 365 dias, nas quais os pequenos negócios têm grande participação, o valor ficou em 5,99% em agosto de 2015 ante 2,76% registrado em agosto de 2014. No caso do cheque especial, os atrasos estão em 14,59%.
                    </p>
                    <p>
                      O consultor de inteligência e planejamento estratégico da Biancamano & Associados, Jorge Luiz Azevedo, explica que a retração no consumo, a elevada carga tributária e as altas nas taxas de juro estão contribuindo para os aumentos nos índices de inadimplência, puxados principalmente por PMEs. “As pessoas começaram a direcionar os recursos para pagar suas dívidas e pararam de consumir. Isso afeta a receita da empresa. E para as pequenas, está mais caro captar”, afirma.
                    </p>
                    <p>
                      O número de empresas negativadas em todo o país chegou a 4 milhões, de acordo com informações da Serasa Experian. Essas companhias possuem R$ 91 bilhões em dívidas. O coordenador do curso de Economia da PUCPR, Jackson Bittencourt, afirma que 2015 está sendo um ano de sobrevivência para as empresas e que, se houver uma nova proposta de política macroeconômica, o cenário deve melhorar a partir do segundo semestre de 2016.
                    </p>
                    <p>
                      Para equilibrar o caixa, as pequenas e médias empresas tentam antecipar os recebíveis, diminuir as despesas e reduzir os estoques. Caso as estratégias não surtam efeito, a solução adotada pela maioria é buscar crédito junto aos bancos com uma taxa de juros especial, o que não é tão fácil, devido à burocracia e ao risco elevado de calote.
                    </p>
                    <h3>Indicador</h3>
                    <p>
                      A dificuldade de acesso ao crédito é demonstrada pelo índice medido pela Confederação Nacional da Indústria (CNI). No terceiro trimestre de 2015, o índice registrou 29,9 pontos. Quanto mais próximo de zero, maiores são os empecilhos para as indústrias conseguirem dinheiro. Segundo a pesquisa, o país atravessa um período em que a dificuldade de acesso ao crédito é maior que a observada no auge da crise financeira de 2008 e 2009.
                    </p>
                    <p>
                      Quando nenhuma iniciativa de gestão funciona, muitas companhias entram em processo de recuperação judicial. No acumulado do ano até setembro foram registrados 913 pedidos, sendo 466 de micro e pequenas empresas, 277 de médio porte e 170 de grandes organizações. O valor acumulado anual é 44,7% maior que o registrado no mesmo período de 2014.
                    </p>
                    <cite>Jéssica Sant’Ana - Especial para a Gazeta do Povo  [26/10/2015]  [20h55]</cite>
                  </div>
                  <a href="http://www.gazetadopovo.com.br/economia/recessao-afeta-capital-de-giro-e-deixa-pequenas-empresas-endividadas-6qpdbqg4espfmrm2qsuxhells" target="_self">Veja na integra</a>
                </div>
              </div>
            </div>
            <div class="ca-item">
              <div class="ca-item-main">
                <div class="ca-background"></div>
                <div class="ca-icon" style="background-image:url(assets/img/news/fecomercio_divulga.jpg);"></div>
                <h3 class="ca-title">Fecomercio divulga estudo sobre endividamento do brasileiro</h3>
                <div class="ca-text">
                  Uma pesquisa da Fecomercio, a Federação do Comércio de São Paulo, apresentou dados sobre o que está acontecendo com as famílias brasileiras. Esse estudo fala de endividamento e poupança. As famílias brasileiras estão se endividando menos, mas mesmo com menos dívidas...
                </div>
                <a href="#" class="btn btn-fullcolor ca-more js-ca-more">Saiba mais <span class="glyphicon glyphicon-chevron-right icon-white"></span></a>
              </div>
              <div class="ca-content-wrapper">
                <a href="#" class="ca-close js-ca-close">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <div class="ca-content">
                  <h6 class="ca-panel-title">Fecomercio divulga estudo sobre endividamento do brasileiro</h6>
                  <div class="ca-content-text">
                    <p>
                      Uma pesquisa da Fecomercio, a Federação do Comércio de São Paulo, apresentou dados sobre o que está acontecendo com as famílias brasileiras. Esse estudo fala de endividamento e poupança.
                    </p>
                    <p>
                      As famílias brasileiras estão se endividando menos, mas mesmo com menos dívidas, esses consumidores não estão conseguindo guardar dinheiro. Enquanto o emprego não vem, as dívidas se acumulam e na hora do sufoco, muita gente nem faz contas, nem procura os empréstimos com juros mais baratos.
                    </p>
                    <p>
                      Os juros que cada um paga são um espanto. Mas a conta fica ainda mais assustadora quando as dívidas de todos os brasileiros são somadas. Foi o que a Federação do Comércio de São Paulo fez e descobriu que para uma dívida total de R$ 800 bilhões, os juros bateram R$ 320 bilhões em 2015.
                    </p>
                    <p>
                      Os brasileiros já chegaram a dever até mais de R$ 850 bilhões em 2013 e 2014. Mas enquanto o bolo da dívida cai, o dos juros sobem. O que é ruim para as famílias e uma sangria para o país.
                    </p>
                    <p>
                      “A gente está passando por um momento que falta dinheiro circulando na economia. As famílias estão mais pobres, consequentemente elas compram menos e o varejo sente isso. As vendas do varejo estão caindo muito mês após mês”, fala o assessor econômico da Fecomercio-SP, Vitor França.
                    </p>
                    <p>
                      Nos cálculos da Fecomércio, os gastos do governo e das famílias com juros, em um ano, equivalem a oito vezes a arrecadação de uma CPMF, por exemplo, dez vezes o Bolsa Família ou 15% de todo o faturamento do comércio no país.  É sem dúvida um dinheiro que está fazendo falta para quem hoje tenta manter ao menos um fio de esperança.
                    </p>
                    <p>
                      Pelo menos melhorar. A gente sabe que nunca vai 100%, mas pelo menos que melhore um pouco, tenham pelo menos trabalho, conta o desempregado Aminadab Andrade Barbosa.
                    </p>
                  </div>
                  <a href="http://g1.globo.com/jornal-hoje/noticia/2016/04/fecomercio-divulga-estudo-sobre-endividamento-do-brasileiro.html" target="_self">Leia na integra</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>	  