 <div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask5 scrollme">
  <div class="bgback">
  </div>
  <div class="kl-slideshow-inner static-content__wrapper static-content--height">
    <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
      <div class="kl-bg-source">
        <div class="kl-bg-source__bgimage" style="background-image:url(assets/img/empresa.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
        </div>		
      </div>
      <div class="th-sparkles"></div>
    </div>
    <div class="static-content__inner container">
      <div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
        <div class="static-content textpop-style">
          <div class="textpop__texts">
            <span class="textpop__line2">Notícias</span>
          </div>
          <div class="col-sm-6">
            <ul class="breadcrumbs fixclear">
              <li><a href="/">Home</a></li>
              <li>Notícias</li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-sm-6">
            <div class="subheader-titles">
              <h2 class="subheader-maintitle">ABRASCOPEI</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kl-bottommask kl-bottommask--mask4">
    <svg width="5000px" height="27px" class="svgmask " viewBox="0 0 5000 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask4">
          <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
          <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
          <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
          <feMerge>
            <feMergeNode in="SourceGraphic"></feMergeNode>
            <feMergeNode in="shadowMatrixInner1"></feMergeNode>
          </feMerge>
        </filter>
      </defs>
      <path d="M3.63975516e-12,-0.007 L2418,-0.007 L2434,-0.007 C2434,-0.007 2441.89,0.742 2448,2.976 C2454.11,5.21 2479,15 2479,15 L2492,21 C2492,21 2495.121,23.038 2500,23 C2505.267,23.03 2508,21 2508,21 L2521,15 C2521,15 2545.89,5.21 2552,2.976 C2558.11,0.742 2566,-0.007 2566,-0.007 L2582,-0.007 L5000,-0.007 L5000,27 L2500,27 L3.63975516e-12,27 L3.63975516e-12,-0.007 Z" class="bmask-bgfill" filter="url(#filter-mask4)" fill="#f5f5f5"></path>
    </svg>
  </div>
</div>



  <!-- Blog page content -->
    <section class="hg_section ptop-50">          
			<div class="container">
				<div class="row">					
					<div class="col-md-12 col-sm-12">
						<div class="itemListView clearfix eBlog">
							<div class="itemList">

								<!-- Blog item container -->
								<div class="itemContainer">
									<!-- Post header -->
									<div class="itemHeader">
										<!-- Title -->
										<h3 class="itemTitle">
											<a href="#/noticias" title="Recessão afeta capital de giro e deixa pequenas empresas endividadas">Recessão afeta capital de giro e deixa pequenas empresas endividadas</a>
										</h3>
										<!--/ Title -->
									</div>
									<!--/ Post header -->

									<!-- Post content body-->
									<div class="itemBody">
										<!-- Item intro text -->
										<div class="itemIntroText">
											<!-- Post image -->
											<div class="hg_post_image">
												<a href="" class="pull-left" title="Recessão afeta capital de giro e deixa pequenas empresas endividadas">
													<img src="assets/img/news/recessao_afeta_capital.jpg" class="" width="457" height="320" alt="Recessão afeta capital de giro e deixa pequenas empresas endividadas" title="Recessão afeta capital de giro e deixa pequenas empresas endividadas" />
												</a>
											</div>
											<!--/ Post image -->
										<p>
                      A recessão econômica está criando dificuldades para as pequenas e médias empresas (PMEs) fecharem as contas do mês. Segundo dados do Banco Central (BC), a taxa de inadimplência das pessoas jurídicas nos empréstimos bancários com recursos livres (sem contar crédito rural e habitacional) ficou em 4,1% em agosto deste ano. O índice permaneceu estável em relação a julho e continua no maior patamar da série histórica iniciada em março de 2011.
                    </p>
                    <p>
                      Entre as linhas mais usadas pelas companhias de porte menor, a inadimplência com o cartão de crédito alcançou 16,76% em agosto, a maior taxa da série medida pelo BC. No mesmo mês do ano passado, o índice estava em 12,38%. Já os atrasos da linha de capital de giro com prazo de até 365 dias, nas quais os pequenos negócios têm grande participação, o valor ficou em 5,99% em agosto de 2015 ante 2,76% registrado em agosto de 2014. No caso do cheque especial, os atrasos estão em 14,59%.
                    </p>
                    <p>
                      O consultor de inteligência e planejamento estratégico da Biancamano & Associados, Jorge Luiz Azevedo, explica que a retração no consumo, a elevada carga tributária e as altas nas taxas de juro estão contribuindo para os aumentos nos índices de inadimplência, puxados principalmente por PMEs. “As pessoas começaram a direcionar os recursos para pagar suas dívidas e pararam de consumir. Isso afeta a receita da empresa. E para as pequenas, está mais caro captar”, afirma.
                    </p>
                    <p>
                      O número de empresas negativadas em todo o país chegou a 4 milhões, de acordo com informações da Serasa Experian. Essas companhias possuem R$ 91 bilhões em dívidas. O coordenador do curso de Economia da PUCPR, Jackson Bittencourt, afirma que 2015 está sendo um ano de sobrevivência para as empresas e que, se houver uma nova proposta de política macroeconômica, o cenário deve melhorar a partir do segundo semestre de 2016.
                    </p>
                    <p>
                      Para equilibrar o caixa, as pequenas e médias empresas tentam antecipar os recebíveis, diminuir as despesas e reduzir os estoques. Caso as estratégias não surtam efeito, a solução adotada pela maioria é buscar crédito junto aos bancos com uma taxa de juros especial, o que não é tão fácil, devido à burocracia e ao risco elevado de calote.
                    </p>
                    <h3>Indicador</h3>
                    <p>
                      A dificuldade de acesso ao crédito é demonstrada pelo índice medido pela Confederação Nacional da Indústria (CNI). No terceiro trimestre de 2015, o índice registrou 29,9 pontos. Quanto mais próximo de zero, maiores são os empecilhos para as indústrias conseguirem dinheiro. Segundo a pesquisa, o país atravessa um período em que a dificuldade de acesso ao crédito é maior que a observada no auge da crise financeira de 2008 e 2009.
                    </p>
                    <p>
                      Quando nenhuma iniciativa de gestão funciona, muitas companhias entram em processo de recuperação judicial. No acumulado do ano até setembro foram registrados 913 pedidos, sendo 466 de micro e pequenas empresas, 277 de médio porte e 170 de grandes organizações. O valor acumulado anual é 44,7% maior que o registrado no mesmo período de 2014.
                    </p>
                    <cite>Jéssica Sant’Ana - Especial para a Gazeta do Povo  [26/10/2015]  [20h55]</cite>
										</div>
										<!-- end Item intro text -->
										<div class="clear"></div>

										<!-- Item tags -->
										<div class="itemBottom clearfix">
											<div class="itemTagsBlock">
												<a href="" rel="tag" title="">capital</a><a href="" rel="tag" title="">econômica</a>
												<div class="clear">
												</div>
											</div>
											<div class="itemReadMore">
												<a class="btn btn-fullcolor readMore" href="http://www.gazetadopovo.com.br/economia/recessao-afeta-capital-de-giro-e-deixa-pequenas-empresas-endividadas-6qpdbqg4espfmrm2qsuxhells" target="_self" title="Veja na integra">Veja na integra</a>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="clear">
									</div>
								</div>
								<div class="clear"></div>

								<div class="itemContainer">
									<div class="itemHeader">
										<!-- Post title -->
										<h3 class="itemTitle">
											<a href="#/noticias" title="Fecomercio divulga estudo sobre endividamento do brasileiro">Fecomercio divulga estudo sobre endividamento do brasileiro</a>
										</h3>
									</div>
									<div class="itemBody">
										<!-- Item intro text -->
										<div class="itemIntroText">
											<!-- Post image -->
											<div class="hg_post_image">
												<a href="" class="pull-left" title="Fecomercio divulga estudo sobre endividamento do brasileiro">
													<img src="assets/img/news/fecomercio_divulga.jpg" class="" width="460" height="230" alt="Fecomercio divulga estudo sobre endividamento do brasileiro" title="Fecomercio divulga estudo sobre endividamento do brasileiro" />
												</a>
											</div>
											<!--/ Post image -->
                    <p>
                      Uma pesquisa da Fecomercio, a Federação do Comércio de São Paulo, apresentou dados sobre o que está acontecendo com as famílias brasileiras. Esse estudo fala de endividamento e poupança.
                    </p>
                    <p>
                      As famílias brasileiras estão se endividando menos, mas mesmo com menos dívidas, esses consumidores não estão conseguindo guardar dinheiro. Enquanto o emprego não vem, as dívidas se acumulam e na hora do sufoco, muita gente nem faz contas, nem procura os empréstimos com juros mais baratos.
                    </p>
                    <p>
                      Os juros que cada um paga são um espanto. Mas a conta fica ainda mais assustadora quando as dívidas de todos os brasileiros são somadas. Foi o que a Federação do Comércio de São Paulo fez e descobriu que para uma dívida total de R$ 800 bilhões, os juros bateram R$ 320 bilhões em 2015.
                    </p>
                    <p>
                      Os brasileiros já chegaram a dever até mais de R$ 850 bilhões em 2013 e 2014. Mas enquanto o bolo da dívida cai, o dos juros sobem. O que é ruim para as famílias e uma sangria para o país.
                    </p>
                    <p>
                      “A gente está passando por um momento que falta dinheiro circulando na economia. As famílias estão mais pobres, consequentemente elas compram menos e o varejo sente isso. As vendas do varejo estão caindo muito mês após mês”, fala o assessor econômico da Fecomercio-SP, Vitor França.
                    </p>
                    <p>
                      Nos cálculos da Fecomércio, os gastos do governo e das famílias com juros, em um ano, equivalem a oito vezes a arrecadação de uma CPMF, por exemplo, dez vezes o Bolsa Família ou 15% de todo o faturamento do comércio no país.  É sem dúvida um dinheiro que está fazendo falta para quem hoje tenta manter ao menos um fio de esperança.
                    </p>
                    <p>
                      Pelo menos melhorar. A gente sabe que nunca vai 100%, mas pelo menos que melhore um pouco, tenham pelo menos trabalho, conta o desempregado Aminadab Andrade Barbosa.
                    </p>
										</div>
										<!--/ Item intro text -->
										<div class="clear">
										</div>

										<div class="itemBottom clearfix">
											<!-- Item tags -->
											<div class="itemTagsBlock">
												<a href="" rel="tag" title="">capital</a><a href="" rel="tag" title="">econômica</a>
												<div class="clear">
												</div>
											</div>

											<div class="itemReadMore">
												<a class="btn btn-fullcolor readMore" href="http://g1.globo.com/jornal-hoje/noticia/2016/04/fecomercio-divulga-estudo-sobre-endividamento-do-brasileiro.html" title="Veja na integra" target="_self">Veja na integra</a>
											</div>
											<!--/ Read more button -->
										</div>
										<!--/ Item bottom area -->
										<div class="clear">
										</div>
									</div>

									<div class="clear">
									</div>
								</div>
								<div class="clear">
								</div>

								<div class="clear">
								</div>
							</div>

						</div>
						<!--/ .itemListView -->
					</div>
					<!--/ col-md-9 col-sm-9 -->		
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Blog page content -->
